@font-face {
    font-family: Iranian_Sans ;
    src: url("../fonts/Sahel-FD.eot");
    src: url("../fonts/Sahel-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/Sahel-FD.woff") format("woff"), url("../fonts/Sahel-FD.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: Sahel;
    src: url("../fonts/Sahel-FD.eot");
    src: url("../fonts/Sahel-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/Sahel-FD.woff") format("woff"), url("../fonts/Sahel-FD.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url("../fonts/Sahel-FD.eot");
    src: url("../fonts/Sahel-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/Sahel-FD.woff") format("woff"), url("../fonts/Sahel-FD.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url("../fonts/Sahel-Bold-FD.eot");
    src: url("../fonts/Sahel-Bold-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/Sahel-Bold-FD.woff") format("woff"), url("../fonts/Sahel-Bold-FD.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url("../fonts/Sahel-Black-FD.eot");
    src: url("../fonts/Sahel-Black-FD.eot?#iefix") format("embedded-opentype"), url("../fonts/Sahel-Black-FD.woff") format("woff"), url("../fonts/Sahel-Black-FD.ttf") format("truetype");
    font-weight: 900;
}

body {
    font-family: Sahel, sans-serif;
    background-color: #f2f2f2;
}
a{
    color: #0e7588;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #007c74;
    text-decoration: none !important;
}
.main {

}
.golpa {
    color: #445d71;
    font-size: 31px;
}
.kala {
    color: #ff5977;
    font-size: 31px;
}
.main-nav {
    border: 1px solid #445d711c;
    border-radius: 6px;
}
/*.header-home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    height: 430px;
    background-color: #6e00ff;
    border-bottom-left-radius: 2.5rem;
}*/
nav.navbar {
}

.navbar-nav {
    padding-right: 0 !important;
}

.dropdown-menu {
    right: 0 !important;
    text-align: right !important;
}

.top-20 {
    margin-top: 20px;
}

#slider {
    background-color: #fafafc;
    padding: 10px 0px;
}

#recent-product {
    background-color: #f2f2f2;
    padding: 10px;
}

.link-subject {
    font-size: 15px;
    font-weight: normal;
    padding: 10px 5px;
    color: #445d71;
}

.banner-home {
    max-width: 100%;
}

.box-product {
    background-color: white;
    border-radius: 6px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 8px 70px -5px rgba(9, 31, 67, 0.06);
    -moz-box-shadow: 0 8px 70px -5px rgba(9, 31, 67, 0.06);
    box-shadow: 0 8px 70px -5px rgba(9, 31, 67, 0.06);
}
.recentPosts

.box-infos {
    color: #445d71;
}

.description {
    color: #6f6f6f;
    font-family: Sahel;
    background-color: white;
    padding: 25px;
    border-radius: 7px;
    margin-top: 8px;
    text-align: justify;
}
.description .h4{
    font-weight: 400;
    color: #999;
    margin-bottom: 2px;
    position: relative;
}
.description .h4:after{
    content: '';
    width: 50px;
    height: 2px;
    background: #c1efff;
    position: absolute;
    margin: 15px 6px;
}
input#quantity {
    height: 33.5px;
    border: none;
    text-align: center;
    padding: 0 10px;
    color: #777;
    width: 40%;
    padding-right: 29.5px;
    border-radius: 20px;
    background: #f1f1f9;
    font-weight: 300;
    margin-bottom: 10px;
    margin: 0 auto;
}
img.imgBannerHome {
    max-width: 100%;
    padding: 5px;
    border-radius: 10px;
}
section.banner {
    background-color: white;
    padding: 15px 0px;
}
span.logo {
    display: block;
}
img.imgLogo {
    height: 80px;
    width: auto;
}
.bgInfo {
    background: white;
    margin: 15px 0px;
    border-radius: 5px;
    padding: 8px;
    -webkit-box-shadow: 0 8px 70px -5px rgba(9, 31, 67, 0.06);
    -moz-box-shadow: 0 8px 70px -5px rgba(9, 31, 67, 0.06);
    box-shadow: 0 8px 70px -5px rgba(9, 31, 67, 0.06);
}
.bgInfoPost{
    margin: 15px 0px;
    border-radius: 5px;
    padding: 8px;
    -webkit-box-shadow: 0 8px 70px -5px rgba(9, 31, 67, 0.06);
    -moz-box-shadow: 0 8px 70px -5px rgba(9, 31, 67, 0.06);
    box-shadow: 0 8px 70px -5px rgba(9, 31, 67, 0.06);
}
.img-thumbnail {
    border: 0px !important;
}
ul.callbax {
    list-style: none;
    text-align: right;
}
li.itemcal {
    padding: 2px;
}
li.itemcal img {
    width: 20px;
}
li.linkPost {
    padding: 3px 0px;
    border-bottom: 1px solid #eee;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem auto -1rem 0rem;
}
svg.svgIcon {
    width: 50px;
}
.btn-border-th {
    border: 3px solid #0e758800;
    background: #f1f1f9;
    border-radius: 30px;
}
.btn-border-th:hover {
    border: 3px solid #0e7588;
    transition: all 0.6s;
    background: #00758d;
    color: white;
}
.btn:focus, .btn.focus {
    outline: 0;
    /*box-shadow: 0 0 0 0.2rem rgba(40, 184, 115, 0.63);*/
}
.callbaxMenu {
    list-style: none;
}
.callbaxMenu li {
    display: inline-block;
}

h4.title.h4 {
    font-weight: 400;
    color: #999;
    position: relative;
    padding: 11px 3px;
}
h4.title.h4:after {
    content: '';
    width: 50px;
    height: 2px;
    background: #28a74594;
    position: absolute;
    margin: 15px 6px;
}
.imgPostRecent {
    max-width: 100%;
}

.featureBox {
    width: 100%;
    display: block;
}
.featureImgBox {
    text-align: center;
    width: 100%;
}
img.featureImg {
    max-width: 100%;
    border-radius: 6px;
}
.margin-bottom-10 {
    margin-bottom:10px !important ;
}
.footerMenu {
    margin: 20px 0px ;
    text-align: center;
    background: white;
    border-radius: 5px;
}

ul.footerUlMenu {
    padding: 20px;
    margin: 0px;
    list-style: none;
}
li.linkFooterMenu {
    display: inline;
    padding: 2px 5px;
}
.footer {
    background-color: white;
    border-radius: 6px;
    padding: 8px;
}

.title_warp_dgs {
    display: block;
    width: 100%;
    margin: 14px 3px;
}
.title_warp_dgs small{
    letter-spacing: 1px;
    font-weight: 300;
    color: #999;
    position: relative;
}
.title_warp_dgs small:before{
    content: "";
    display: block;
    height: 4px;
    background: #f17b68;
    margin: 4px 5% 6px 1%;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    top: 24px;
    z-index: 2;
    right: -10px;
}
.title_warp_dgs small:after{
    content: "";
    display: block;
    height: 4px;
    background: #ececec;
    margin: 5px 5% 6px 1%;
    border-radius: 20px;
}
ul.uiPost {
    padding: 2px;
    list-style: none;
}
.btnSearch{
    border: 0px;
    padding: 0px;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .testsdvsd {
        background-color: red;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
